body,html {
	background-color: #ebebeb;
	font: 13px Georgia, sans-serif;
	color: #999;
	margin:0;
}
body, html, .container {
	height:100%;
}
.main {
padding-bottom:63px; /*height of the footer*/
}
body > .container {
	height:auto; min-height:100%;
}
div.logo {
	font-size:26px;
	font-weight:normal;
	text-transform:uppercase;
	color:#333;
	float:left;
}
.logo span {
	font-size:36px;
	font-weight:normal;
}
div.motto {
	font-size:12px;
	font-weight:normal;
	float:left;
	padding-left:10px;
	margin:5px 0 0 15px;
	border-left: 1px solid #999;	
}
header {
	max-width:960px;
	margin:auto;
	margin-top:10px;
}
header:after {
	content:" ";
	clear:both;
	display:block;
}
input{
	float:right;
	background-color:#fff;
	height:40px;
	width:220px;
	vertical-align:top;
	border-radius: 3px 0 0 3px;
	font-size:12px;
	font-weight:normal;
	border:none;
	padding: 0 10px;
	margin-right:2px;
}
form [name="search Our Website"]{
	float:right;
	margin-right:20px;
	margin-top:20px;
}
button{
	color:#fff;
	background-color: #97455f;
	font-size:12px;
	font-weight:normal;
	height:40px;
	width:75px;
	border-radius: 0 5px 5px 0;
	border:none;
	text-transform:uppercase;
	float:right;
}
nav {
	max-width:960px;
	margin:auto;
	background-color: #97455f;
	margin-top:55px;
	border-radius:3px 3px 0 0;
}

ul.menu {
	width:80%;
	margin:auto;
	position:relative;	
}
ul.menu:after {
	content:'';
	clear:both;
	display:table;
}

.menu li {
	float:left;
	list-style:none;
	position:relative;
}
.menu li:hover {
	background-color: #6a3144;
}

.menu li a {
	text-transform:uppercase;
	text-decoration:none;
	display:block;
	color:#fff;
	font-size:12px;
	padding:15px;
}
.menu li.home {
	border-radius:3px 0 0 0;
}
.white {
	background-color:#fff;
}
article {
	max-width:960px;
	margin:auto;
}
article:after {
	content:" ";
	clear:both;
	display:block;
}
section {
	max-width:79%;
	float:right;
	margin-top:40px;
} 
aside {
	max-width:15%;
	float:left;
	margin-top:40px;

}
ul.navigation_aside {
	width:100%;
	position:relative;
	padding:0;
}
.navigation_aside li {
float:left;
position:relative;
list-style:none;
width:100%;
}
li.side_bar {
	margin-bottom: 30px;
	border-bottom: 3px solid #ebebeb;
}
.navigation_aside  li a {
text-decoration:none;
color:#000;	
}

}
.main_content {
	max-width:960px;
	margin:auto;
}
.main_content h1 {
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	color:#333;
}

.main_content p {
line-height:1.5em;
}
.link a {
	color: #97455f;
	text-decoration:none;
	display:inherit;
	margin-top:20px;
}

footer {
	max-width:960px;
	background-color:#ebebeb;
	position:relative;
	font-size:12px;
	font-weight:normal;	
	margin-top:-63px;
	height:63px;
	margin-left:auto;
	margin-right:auto;
}
footer:after {
	content:" ";
	clear:both;
	display:block;
}
div.copywrite {
	float:left;
	margin-top:20px;
}

div.template{
	float:right;
	margin-top:20px;
	}

